*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle/
.idea/
/gradlew.bat
/gradlew
/**/TestActivity.kt
/**/AndroidManifest.xml
/**/activity_test.xml
/app/src/main/res/drawable-xxhdpi/
/app/src/main/res/drawable-mdpi/
/app/src/main/res/drawable-xxxhdpi/
/app/src/main/res/drawable-xhdpi/
/app/src/main/res/drawable-ldpi/
/app/src/main/res/drawable-hdpi/
/app/src/main/res/drawable/
/app/src/main/res/drawable-v24/
\